<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TL" value="1" />
    <add key="TR" value="1" />
    <add key="A" value="2" />
    <add key="B" value="3" />
    <add key="C" value="5" />
    <add key="BackOffStrategies" value="TR, A; TL, B, TR, A; TL, TL, A; TR, B, TR, A; TL, TL, A"/>
  </appSettings>
</configuration>